{{define "login-after.tmpl"}}
    <html>
    <head>
        <title>login-after</title>
    </head>
    <body>
    <h1>Hello {{.username}}</h1>
    <p>您的密码是 {{.password}}</p>
    </body>
    </html>
{{end}}